@import '../../scss/_deps';

// CSS DO MENU

.nav- {
    &menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 10001;
        width: 4em;
    }

    &icons {
        font-size: 1.5em;
        margin-bottom: 1em;

        &:first-child {
            margin-top: .5em;
        }

        &:hover {
            color: map-get($colors , 'white');
        }

        &.active {
            color: map-get($colors , 'blue');
        }
    }
}
