<nav class="nav-menu bg-dark pad-10">
    <a href="#" class="cl-dark-gray nav-icons"><i class="fas fa-home"></i></a>
    <a href="#" class="cl-dark-gray nav-icons"><i class="fas fa-camera-retro"></i></a>
    <a href="#" class="cl-dark-gray nav-icons"><i class="far fa-file-alt"></i></a>
</nav>
