<section class="galery">
    <div class="box-pictures row p0">

        <!-- <div class="row halign-between col-12 p0">
            <h3 class="title text-center">Gallery</h3>
            <div class="buttons row">
                <a href="" class="button-top-galery cl-white bg-blue text-center">All</a>
                <a href="" class="button-top-galery cl-white bg-blue text-center">People</a>
                <a href="" class="button-top-galery cl-white bg-blue text-center">Places</a>
                <a href="" class="button-top-galery cl-white bg-blue text-center">Things</a>
            </div>
        </div> -->


        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture p0" src="../../img/01.jpg" alt="This right here is a caption.">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/05.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/09.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/02.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/06.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/10.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/03.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/07.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/11.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/04.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/08.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 media p0">
            <a href="">
                <img class="picture" src="../../img/12.jpg" alt="">
            </a>
        </div>

        <!-- <div class="box-button text-center mg-auto">
            <a href="" class="button-galery cl-white bg-blue">Full Galery</a>
        </div> -->

    </div>

</section>
