@import '../../scss/_deps';

// CSS DO GALERY

.galery {
    padding: 3.5em;

    .title {
        font-size: 1.75em;
        margin-bottom: 1em;
    }

    .mg-auto {
        margin: 0 auto;
    }

    .button-top-galery,
    .button-galery {
        font-family: 'nunitosans-regular';
        appearance: none;
        transition:
        background-color .2s ease-in-out,
        color .2s ease-in-out;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        height: 2.85em;
        line-height: 2.95em;

        text-align: center;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background: #019be3;
        }
    }

    .button-top-galery {
        padding: 0 1.5em;
        margin-right: .5em;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background: map-get($colors, 'black');
        }
    }

    .button-galery {
        font-size: 1.35em;
        padding: 0 2em;
        margin-top: 3em;
    }

    .media {
        // animation: gallery .75s ease-out .4s forwards;
        // opacity: 0;
        overflow: hidden;
        display: block;
        position: relative;
        margin-bottom: 0;

        .picture {
            display: block;
            max-width: 100%;
            height: auto;
            transition: transform .2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: 980px) {

    .galery {
        padding: 2em;
        min-height: 20em;
    }
}

@media screen and (max-width: 480px) {
    .galery {
        padding: 1em;
    }
}
