//margins
@for $i from 0 through 100 {
    .mg-#{$i * 1} { margin: ($i * 1px) }

    .mg-both-#{$i * 1} {
        margin-top: ($i * 1px);
        margin-bottom: ($i * 1px);
    }

    .mg-sides-#{$i * 1} {
        margin-left: ($i * 1px);
        margin-right: ($i * 1px);
    }

    .mg-top-#{$i * 1} { margin-top: ($i * 1px) }

    .mg-bottom-#{$i * 1} { margin-bottom: ($i * 1px) }

    .mg-right-#{$i * 1} { margin-right: ($i * 1px) }

    .mg-left-#{$i * 1} { margin-left: ($i * 1px) }
}
