//paddings
@for $i from 0 through 100 {
    .pad-#{$i * 1} { padding: ($i * 1px) }

    .pad-both-#{$i * 1} {
        padding-top: ($i * 1px);
        padding-bottom: ($i * 1px);
    }

    .pad-sides-#{$i * 1} {
        padding-left: ($i * 1px);
        padding-right: ($i * 1px);
    }

    .pad-top-#{$i * 1} { padding-top: ($i * 1px) }

    .pad-bottom-#{$i * 1} { padding-bottom: ($i * 1px) }

    .pad-right-#{$i * 1} { padding-right: ($i * 1px) }

    .pad-left-#{$i * 1} { padding-left: ($i * 1px) }
}
