// PADRÃO DE ELEMENTOS DO PROJETO
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    font-family: 'nunitosans-regular';
    overflow-x: hidden;
    min-height: 100vh;
    color: #22313f;
    font-size: 15px;
    line-height: 1.65;
    background-color: #f1f1f1;
}

main {
    width: calc(100% - 4em);
    position: relative;
    left: 4em;
    min-height: 100vh;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    outline: none;
}

textarea {
    resize: none;
}
