@font-face {
    font-family: 'bradescoregular';
    src: url('../Bradesco.ttf');
}

@font-face {
  font-family: 'nunitosans-regular';
  src: url('../nunitosans-regular.ttf');
}

@font-face {
    font-family: 'nunitosans-bold';
    src: url('../nunitosans-bold.ttf');
}
