@import '../../scss/_deps';

// CSS DO FOOTER

.footer {
    width: 100%;

    .pad-column {
        padding-top: 3.5em;
        padding-bottom: 1.5em;
        padding-left: 3.5em;
        padding-right: 3.5em;
    }

    .title {
        font-size: 1.35em;
        line-height: 1.5;
        margin-bottom: 1em;
    }

    .box-text-footer {
        .text-footer {
            margin-bottom: 2em;
        }

    }

    .socials {
        .box-icons-footer {
            .icon-footer {
                font-size: 1.6em;
                padding-right: 1em;

                &:hover {
                    color: #019be3;
                }
            }
        }
    }

    form {
        margin: 0;

        .first-input,
        .second-input,
        .third-input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5em;

            .input {
                font-family: 'nunitosans-regular';
                border-radius: 4px;
                border: solid 1px rgba(25, 181, 254, .25);
                color: inherit;
                display: block;
                outline: 0;
                padding: 0 1em;
                text-decoration: none;
                width: 100%;
                height: 2.75em;
            }

            .textarea {
                font-family: 'nunitosans-regular';
                appearance: none;
                padding: .75em 1em;
                border-radius: 4px;
                border: solid 1px rgba(25, 181, 254, .25);
                display: block;
                outline: 0;
                text-decoration: none;
                height: 13em;
                width: 100%;
                resize: none;
            }

            .box-label {
                display: flex;
                align-items: center;
                font-size: .9em;
                font-weight: 700;
                margin: 0 0 1em;
            }

        }

        .button {
            font-family: 'nunitosans-regular';
            appearance: none;
            transition:
            background-color .2s ease-in-out,
            color .2s ease-in-out;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
            display: inline-block;
            height: 2.85em;
            line-height: 2.95em;
            padding: 0 1.5em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                background: #019be3;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }

}


@media screen and (max-width: 736px) {

    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 980px) {

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

}


@media screen and (max-width: 1280px) {

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

}


@media screen and (max-width: 1680px) {

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

}
