<!-- Começo do Conteúdo do footer -->
<footer class="footer">
    <div class="row">
        <div class="col-sm-12 col-md-6 bg-gray-dark pad-column">
            <div class="box-text-footer">
                <h3 class="title">
                    About Me
                </h3>
                <p class="text-footer">
                    Mus sed interdum nunc dictum rutrum scelerisque erat a parturient condimentum potenti dapibus
                    vestibulum condimentum
                    per tristique porta. Torquent a ut consectetur a vel ullamcorper a commodo a mattis ipsum class
                    quam sed eros
                    vestibulum quisque a eu nulla scelerisque a elementum vestibulum.
                </p>
                <p class="text-footer">
                    Aliquet dolor ultricies sem rhoncus dolor ullamcorper pharetra dis condimentum ullamcorper rutrum
                    vehicula id nisi vel
                    aptent orci litora hendrerit penatibus erat ad sit. In a semper velit eleifend a viverra adipiscing
                    a phasellus urna
                    praesent parturient integer ultrices montes parturient suscipit posuere quis aenean. Parturient
                    euismod ultricies
                    commodo arcu elementum suspendisse id dictumst at ut vestibulum conubia quisque a himenaeos dictum
                    proin dis purus
                    integer mollis parturient eros scelerisque dis libero parturient magnis.
                </p>
            </div>
            <div class="socials">
                <h3 class="title">
                    Follow Me
                </h3>
                <div class="row box-icons-footer">
                    <a href="#" class="icon-footer cl-blue"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="icon-footer cl-blue"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="icon-footer cl-blue"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 bg-gray-light pad-column">
            <h3 class="title">
                Get in Touch
            </h3>
            <form class="row" action="#" method="post">
                <div class="col-md-12 col-lg-6 pad-left-0">
                    <div class="first-input">
                        <label class="box-label">
                            Nome
                        </label>
                        <input class="input" type="text" placeholder="Nome">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 p0">
                    <div class="second-input">
                        <label class="box-label">
                            Email
                        </label>
                        <input class="input" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="col-12 p0">
                    <div class="third-input">
                        <label class="box-label">
                            Message
                        </label>
                        <textarea class="textarea" name="message" id="message" rows="6" placeholder="Message"></textarea>
                    </div>
                </div>
                <input value="Send Message" type="submit" class="button bg-blue cl-white">
            </form>
        </div>
    </div>
</footer>
<!-- Final do Conteúdo do footer -->

<!-- Chamadas dos arquivos JS -->
<script type="text/javascript" src="./js/bundle.min.js"></script>
</body>

</html>
