@import '../../scss/_deps';

// CSS DO BANNER

.banner {
    background-image: url('../../img/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    min-height: 75vh;
    height: 75vh;
    position: relative;
    padding: 8em 0 6em;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 0;

    &::before {
        content: '';
        background-color: #000;
        display: block;
        position: absolute;
        opacity: .65;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .box.text-banner {
        z-index: 1;
    }

    .title-banner {
        font-size: 4em;
        line-height: 1em;
        margin-bottom: .5em;
    }

    .description-banner {
        font-size: 1.5em;
        margin-bottom: 1.75em;
    }

    .button-banner {
        display: inline-block;
        outline: 0;
        text-decoration: none;
        font-size: 1.35em;
        padding: 0 2em;
        background: none;
        box-shadow: 0 0 0 2px rgba(144, 144, 144, .25);
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        height: 2.85em;
        line-height: 2.95em;
        white-space: nowrap;
        transition:
        background-color .2s ease-in-out,
        color .2s ease-in-out;

        &:hover {
            background-color: rgba($color: #fff, $alpha: .03);
        }
    }

}

@media screen and (max-width: 736px) {

    .banner {
        background-attachment: scroll;

        .title-banner {
            font-size: 2.25em;
        }

        .description-banner {
            font-size: 1.25em;
        }
    }
}
