<section class="banner">
    <div class="box-text-banner row flex-column cl-white p0">
        <h1 class="title-banner p0">
            Hey, I'm Snapshot
        </h1>
        <p class="description-banner">
            A fully responsive gallery template by TEMPLATED
        </p>
        <div class="p0">
            <a class="button-banner cl-white" href="">
                Continue
            </a>

        </div>
    </div>
</section>
