@import '../../scss/_deps';

// CSS DO GENERIC

.generic {
    padding: 3.5em;

    .generic-box-text__title {
        font-size: 2em;
        line-height: 1.5;
        margin-bottom: 1em;
    }

    .generic-box-text__text {
        margin-bottom: 2em;
    }

    .media-parturient {
        display: flex;

        .media-parturient__img {
            border: solid 1px rgba(144, 144, 144, .25);
            padding: 1em;
            max-width: 40%;
            display: table;

            img {
                display: block;
                width: 100%;
            }
        }

        .media-parturient__box-text {
            line-height: 1.5em;
            padding-left: 1.3em;

            .media-parturient__title {
                font-size: 1.35em;
                margin-bottom: 1em;
            }
        }
    }

    .media-ridiculus {
        display: flex;

        .media-ridiculus__img {
            border: solid 1px rgba(144, 144, 144, .25);
            padding: 1em;
            max-width: 40%;
            display: table;

            img {
                display: block;
                width: 100%;
            }
        }

        .media-ridiculus__box-text {
            line-height: 1.5em;
            padding-left: 1.3em;

            .media-ridiculus__title {
                font-size: 1.35em;
                margin-bottom: 1em;
            }
        }
    }
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 11px;
    }
}

@media screen and (max-width: 1280px) {

    body {
        font-size: 11px;
    }
}

@media screen and (max-width: 980px) {
    body {
        font-size: 11px;
    }

    .generic {
        padding: 2em;
    }

    .media-parturient {
        margin-bottom: 1em;
    }
}


@media screen and (max-width: 736px) {

    body {
        font-size: 12px;
    }

}

@media screen and (max-width: 480px) {

    body {
        font-size: 12px;
    }

    .generic {
        padding: 1em;

        .generic-box-text {
            .generic-box-text__title {
                font-size: 1.5em;
            }
        }
    }

    .media-parturient__img,
    .media-ridiculus__img {
        max-width: 100% !important;
        width: 100%;
    }
}
